.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.belowNavBar {
  display: flex;
  flex-direction: row;
}

.selectionContainer {
  /* display: grid; */
  /* grid-template-columns: repeat(5, 1fr);
  font-size: calc(5px + 2vmin); */
  /* width: 1rem; */
}

.displayContainer {
  /* display: grid; */
  /* grid-template-columns: repeat(5, 1fr); */
  /* width: 1rem; */
}

#song {
  cursor: pointer;
}