.App {
  text-align: center;
  color: purple;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

button {
  background-color: purple;
  color: white;
  border: 1px solid white;
}

input[type=submit] {
  background-color: purple;
  color: white;
  border: 1px solid white;
}

select {
  background-color: purple;
  color: white;
  border: 1px solid white;
}

/* option {
  background-color: purple;
} */

input[type=text] {
  border: 1px solid purple;
}

.belowNavBar {
  display: flex;
  flex-direction: row;
}

.selectionContainer {
  /* display: grid; */
  /* grid-template-columns: repeat(5, 1fr);
  font-size: calc(5px + 2vmin); */
  /* width: 1rem; */
  width: 21rem;
  height: 34rem;
  overflow-y: auto;
  background-color: rgb(250, 99, 230);
  margin-left: 1rem;
  margin-bottom: 1rem;
  border: 8px solid purple;
  /* box-sizing: border-box;
  width: 100%;
  border: solid #5B6DCD 10px;
  padding: 5px; */
}

.displayContainer {
  /* display: grid; */
  /* grid-template-columns: repeat(5, 1fr); */
  /* width: 1rem; */
  width: 69rem;
  height: 34rem;
  overflow-y: auto;
  background-color: rgb(250, 99, 230);
  margin-left: 1rem;
  margin-right: 1rem;
  border: 8px solid purple;
}

.listItem {
  max-height: 4rem;
  /* border-top: 4px solid purple; */
}

.listSong {
  cursor: pointer;
}
.listSong:hover {
  text-decoration: underline;
}

.listGenre {
  cursor: pointer;
}

.listGenre:hover {
  text-decoration: underline;
}

.listInstrument {
  cursor: pointer;
}

.listInstrument:hover {
  text-decoration: underline;
}

.listPlaylist {
  cursor: pointer;
}

.listPlaylist:hover {
  text-decoration: underline;
}

/* .playlistForm {
  border-top: 4px solid purple;
} */

.navBar {
  display: table;
  margin: 0 auto;
  background-color: rgb(250, 99, 230);
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 8px solid purple;
}

.navList {
  list-style-type: none;
  /* margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333; */
  display: flex;
  flex-direction: row;
  font-size: 1.5rem;
  color: purple;
  text-align: center;
}

.navListItem {
  cursor: pointer;
  /* float: left; */
  margin-left: 1rem;
  margin-right: 1rem;
  display: inline-block;
}

.navListItem:hover {
  text-decoration: underline;
}

.closeButton {
  /* text-align: right; */
  float: right;
  margin-right: 1rem;
}